/* media screen and (min-width: 300px) */

.navbar-brand{
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1.7px;
    margin: 10px 0px 10px 20px;
}
.collapse{
    text-align: center;
}
.nav-item{
    padding: 10px 0px;
    border-bottom: 1px solid black;
}
header .navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 1.1em;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}



#banner{
    padding: 0px;
}

#sobre , #portfolio , #clientes, #serviços , #contato{
    padding: 50px 0px;
}

.carousel-caption{
    background-color: rgba(0 , 0, 0 , 0.9);
    padding: 15px;
}
.carousel-caption h5{
    text-transform: uppercase;
}




.title-main{
    text-align: center;
    padding: 30px 0px;
}
.title{
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 10px 0px 20px;
}
.row .paragrafo{
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 25px;
}
.row .botao{
    display: inline-block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    border: solid 1px black;
    background-color: yellow;
    transition: background-color 1s linear;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: unset;
    color: black
}
.botao:hover{
    background-color: blue;
    color: white;
}

#sobre img{
    max-width: 100%;
    max-height: 100%;
}


#portfolio , #serviços{
    background-color: rgb(223, 223, 240);
}
#portfolio img , #clientes img{
    max-width: 100%;
    margin: 10px 0px 20px;
}


#serviços ul{
    list-style: none;
}
#serviços ul li{
    margin: 10px 0px;
}
#serviços ul li i{
    color: green;
    font-size: 1em;
    margin-right: 10px;
}
.banner-main{
    background-image: url(../img/banner-main.webp);
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#contato{
    text-align: center;
}
form{
    border: solid 1px black;
    margin-bottom: 30px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}
form input{
    display: block;
    width: 100%;
    margin: 10px 0px 15px;
    padding: 10px;
}
form h4{
    margin-bottom: 20px;
}
textarea{
    width: 100%;
}
form input[type="submit"]{
    width: 200px;
    text-align: center;
    padding: 10px;
}


footer{
    background-color: rgb(133, 131, 131);
    padding: 0px 0xp 20px 0px;
    text-align: center;
    color: white;
}
footer h4{
    margin: 0px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}
.footer-rede-social{
    background-color: rgb(41, 41, 41);
}
.footer-rede-social ul{
    list-style: none;
    padding: 10px;
}
.footer-rede-social ul li{
    display: inline-block;
    margin: 5px 10px; 
}
.footer-rede-social ul li a{
    font-size: 1.3em;
    color: white;
}

@media screen and (min-width: 990px){
    header{
        position: relative;
    }
    .navbar-nav{
        position: absolute;
        right: 10px;
    }
    .nav-item{
        padding: 10px 0px;
        border-bottom: none;
    }
}